
/* Barra de navegación */
.navbar {
    padding: 2rem;
    background-color: #F5E7B2;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Banner */
.banner {
    justify-content: center;
    display: flex;
    padding: 50px 0px 40px 0px;

    background-color: #973131;
}

/* Encabezado */
#tit {
    padding: 10px 0px 15px 0px;
    text-align: center;
    font-size: 80px;
}

/* Introducción */
.intro {
    padding: 40px;
}

/* Contenedor fomrulario */

/* Contenedor formulario */
.form {
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 45px 45px 100px 45px;
    background-color: #e0a85eda;
    border-radius: 20px;
}

/* Footer */
.footer{
    background-color: #973131;
    margin: 0 auto;
    padding-top: 35px;

    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

/* Media Querry */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    } 
}

@media screen and (max-width: 576px) {
    #tit{
        padding: 7px 0px 10px 0px;
        text-align: center;
        font-size: 50px;
    }
}